@model IEnumerable<Lab5_Montenegro.Models.Estampa>

@{
    ViewBag.Title = "ComprobarCualesHacenFalta";
}

<h2>ComprobarCualesHacenFalta</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EOE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroDeEstampa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cantidad)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EOE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroDeEstampa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cantidad)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
<br />
<form action="Menú" method="post">
    <input type="submit" name="enviar" value="Retornar al Menú" />
</form>
<h2>Aquí podrá intercambiar una estampa cualquiera que posea por cualquiera que le haga falta</h2>
<br />
<form action="Intercambio" method="post">
    <label>Numero de Estampa que desea Obtener: <input type="text" name="NrEstampa1" value=" " /></label><br />
    <label>Numero de Estampa que desea Cambiar: <input type="text" name="NrEstampa2" value=" " /></label><br />
    <input type="submit" name="enviar" value="Intercambio" />
</form>