@model IEnumerable<Lab5_Montenegro.Models.Estampa>

    @{
        Layout = null;
    }

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
        <div>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.EOE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.cantidad)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NumeroDeEstampa)
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.EOE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.cantidad)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumeroDeEstampa)
                        </td>
                    </tr>
                }
            </table>
        </div>
    </body>
</html>
<br />
<form action="Menú" method="post">
    <input type="submit" name="enviar" value="Regresar al Menú" />
</form>
